<% include header %>
<div class="dropdown">
  <button class="dropbtn">Menu</button>
  <div class="dropdown-content">
    <% for (var i = 0; i < categorieen.length; i++) { %>
      <a href="/categorieen/<%- i %>"><%- categorieen[i] %></a>
    <% } %>
  </div>
</div>

<h2 class='kader'>Nieuwsitems voor auteurs <%- auteur[id] %></h2>

  <% for (var i = 0; i < items.length; i++) { %>
    <% if (items[i].auteur.indexOf(auteur[id]) !== -1) { %>
      <section>
          <h2>  <a class='wit' href="/auteur/<%- i %>"><%- items[i].titel %></a>   </h2>
          <img src="/img/<%- items[i].afbeeldings %>" alt="<%- items[i].titel %>">
          <p> <%- items[i].datum %> </p>
          <p>
            <%- items[i].samenvatting %>
          </p>
          <p> Auteur: <%- items[i].auteur %></p>
      </section>
    <% } %>
  <% } %>

<% include footer %>
