<% include header %>

<div class="dropdown">
  <button class="dropbtn">Menu</button>
  <div class="dropdown-content">
    <% for (var i = 0; i < categorieen.length; i++) { %>
      <a href="/categorieen/<%- i %>"><%- categorieen[i] %></a>
    <% } %>
  </div>
</div>

<nav>
  <h4>Auteurs:</h4>
  <% for (var i = 0; i < auteur.length; i++) { %>
    <a href="/auteur/<%- i %>"><%- auteur[i] %></a>
  <% } %>
</nav>

  <% var teller = 1; %>
  <% nieuws.forEach(function(item){ %>
    <p class='categoriekader'>
      <%- item.categorieen %>
    </p>
    <section>
        <h2>  <a class='wit' href=/items/<%- item.id %>><%- item.titel %></a> </h2>
        <img src="/img/<%- item.afbeeldings %>" alt="<%- item.titel %>">
        <p><%- item.datum %></p>
        <p><%- item.samenvatting %></p>
        <p> - <%- item.auteur %></p>
    </section>
    <% teller++;}); %>


<% include footer %>
