<% include header %>

<p class='categoriekader'>
  <%- item.categorieen %>
</p>
<section>

    <h2>  <%- item.titel %>  </h2>
    <img src="/img/<%- item.afbeeldings %>" alt="<%- item.titel %>">

    <p> <%- item.datum %> </p>
    <p> -  <%- item.auteur %></p>

    <p> <%- item.body %> </p>
    <img src="/img/<%- item.afbeeldingl %>" alt="<%- item.titel %>">
    <img src="/img/<%- item.afbeeldingm %>" alt="<%- item.titel %>">

</section>

<% include footer %>
